/*#region general*/

:root {
    --background-color:#FFFFFF;
    --card-box-shadow: 0 1px 2px rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    --card-border: 1px solid #dadce0;
    --modal-overlay:#97979786;
    --default-border-radius: 8px;
    --round-border: 100%;    
    --default-font-color: #6b6e70;
    --accent-color:#9ADCFF;
}

* {
    margin:0;
    padding:0;
    font-family: 'Dancing Script',cursive;
    color: var( --default-font-color);
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body{
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size:20px;   
}

.disable-overflow {
    overflow:hidden;
}

.content {
    min-width: 300px;
    height: 100vh;
    display: inline-block;
    width:100%;
    overflow:scroll;
    position: relative;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    background-color:var(--background-color);
}

.section {
    width: 100%;
    position: relative;
    grid-column: 1;
    scroll-snap-align: start;
    height: 100vh;
}

.hero-image-wrapper,
.about-us,
.event {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*#endregion general*/

/*#region menu*/

.menu {
    width:100%;
    height:60px;
    position:relative;
    z-index: 3;
    background-color:var(--background-color);
    display: inline-block;
}

.menu-wrapper {
    width:auto;
    display:inline-block;
    float:right;
    list-style: none;
}

.menu-item {
    width:auto;
    display: inline-block;
    float:left;
    padding:10px;
    text-align:center;
}

.menu-btn {
    color:var(--default-font-color);
    font-size:2rem;
}

.menu-btn,
.menu-btn:hover,
.menu-btn:visited,
.menu-btn:active {
    text-decoration: none;
}

.confirm-btn,
.confirm-btn:hover,
.confirm-btn:visited,
.confirm-btn:active {
    color:var(--accent-color);
}

/*#endregion menu*/

/*#region Hero*/

.hero {
    height: 100vh;
}

.hero:after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: calc(100vh - 60px);
    top: 60px;
    left: 0;
    background-image: url(/img/background.png);
    background-size: cover;
}

.hero-image-wrapper {
   position: relative;
   text-align: center;
   height: calc(100vh - 60px);
}

.hero-img {
    width: auto;
    height: auto;
    max-height: calc(100vh - 60px);
}

.mask {
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-position: center;
    transition: -webkit-mask-size .3s;
}

.hero-mask {
    -webkit-mask-image: url("/img/mask.png");
    mask-image:  url("/img/mask.png");
}

.event-info {
    position: relative;
    width: auto;
    height:auto;
    background-color: var(--background-color);
    padding: 10px;
}

.event-info .event-info-title {
    font-size: 5rem;
    padding:5px;
}

.event-info .event-info-date {
    font-size:3rem;
    margin-top:30px;
}


/*#endregion Hero*/

/*#region AboutUs*/

.about-us {
    min-height: 100vh;
    height: auto;
    column-gap: 5vw;
}

.about-us .centered {
    margin:60px 20px 20px 20px;
    text-align:center;
    width:100%;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 2rem;
    width: 50vw;
}

.carousel {
   position: relative;
   overflow: hidden;
   transform: rotate(-15deg);
   border-radius: 8px;
   border: 5px solid var(--accent-color);
   box-sizing: border-box;
}


.carousel .carousel-overlay {
    position: absolute;
    aspect-ratio: 4/3;
    height: 400px;
    top:0;
    left:0;
    z-index:2;
}

.carousel-content {
   position:relative;
   width:100%;
}

.carousel .carousel-img {
    transition: transform 2s ease-in-out;
    transform: translate(-100%);
    position: absolute;
    inset: 0;
    border-radius: var(--default-border-radius);
    top: 0;
    left: 0;
    z-index: 1;
}

.carousel-fixed-size {
    height: 300px;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.carousel .carousel-img.active{
    transform:translate(0);
}


/*#endregion AboutUs*/

/*#region Event*/

.card.confirmation,
.card.location {
    width:300px;
    height:300px;
    grid-template-rows: 50px 200px 50px;
}

.avatar.george {
    background-image: url("/img/George.svg");
}

.avatar.andreea {
    background-image: url("/img/Andreea.svg");
}

/*#endregion Event*/

/*#region Card*/

.card {
    margin:10px;
    float:left;
    display:grid;
    box-sizing: border-box;
    background-color:var(--background-color);
    border: var(--card-border);
    border-radius:var(--default-border-radius);
}

.card .header {
    width: 100%;
    text-align: center;
    padding: 10px;
    display: inline-block;
    grid-row:1;
    padding:10px;
}

.card .header .title {
    width:100%;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    font-size:2rem;
}

.card .body {
    float: left;
    padding: 10px;
    display: flex;   
    border-radius:var(--default-border-radius);
    padding:10px;
}

.card .body.center {
    align-content: center;
    justify-content: center;
}

.card .body.column {
    flex-direction: column;
}

.card .footer {
    grid-row:3;
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
}

.card:hover {
    border-color: transparent;
    background: var(--background-color);
    box-shadow: var(--card-box-shadow);
}

.card.contact {
    width:300px;
}

.person {
    display: inline-block;
    width:100%;
    float:left;
    padding:10px;
}

.person .avatar {
    width: 80px;
    height:80px;
    border: 5px solid var(--accent-color);
    border-radius: var(--round-border);
    text-align: center;
    float:left;
    display: inline-block;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
}

.person .person-info {
    display: inline-block;
    width: 170px;
    float:left;
    height:80px;
}

.person-info .info {
    width:100%;
    padding:5px;
    display: inline-block;
    font-size: 1.2rem;
    text-align: center;
}

.person-info .info i {
   font-size: 1rem;
   margin-right:10px;
   color:var(--accent-color);
}

/*#endregion Card*/

/*#region iFrame*/

iframe {
    width: 100%;
    height: 100%;
}

iframe#gmap {
    border-radius:var(--round-border);
    width:180px;
    height:180px;
}

iframe#airtable {
    width:100%;
    height:400px;
}

/*#endregion iFrame*/

/*#region modal*/

.modal {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--modal-overlay);
}

.modal.show {
    display:flex;
}

.modal-content {
    width: 400px;
    height:400px;
    display: block;
    border-radius: 8px;
    background: var(--background-color);
}

.modal-header {
    width:100%;
    display:inline-block;
    float:left;
}

.modal-header .icon-btn {
    float:right;
}

.modal-body {
    width:100%;
    height:400px;
    display:inline-block;
    float:left;
}

/*#endregion modal*/

/*#region IconsAndButtons*/

[class$="-btn"] {
    cursor: pointer;
}

.icon-btn {
    padding:10px;
    width:auto;
    cursor: pointer;
}

/*#endregion IconsAndButtons*/

/*#region MobileView*/


@media only screen and (max-device-width: 480px) {
    .modal-content {
        width: 100%;
        height: 100vh;
    }

    .modal-body {
        height:calc(100vh - 60px);
    }

    iframe#airtable {
        height:100%;
    }

    .menu-btn {
        font-size:1.2rem;
    }

    .hero-image-wrapper,
    .about-us,
    .event {
        flex-direction: column;
        justify-content: inherit;
        align-items: inherit;
    }

    .event-info .break-line {
        display: inline-block;
        width:auto;
    }

    .event-info .event-info-title {
        font-size: 2.5rem;
        padding:5px;
    }

    .event-info .event-info-date {
        font-size:2rem;
    }

    .carousel {
        transform:rotate(0);
    }

}


/*#endregion MobileView*/