:root {
    --background-color:#FFFFFF;
    --card-box-shadow: 0 1px 2px rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    --card-border: 1px solid #dadce0;
}

* {
    margin:0;
    padding:0;
    font-family: 'Dancing Script',cursive;
}

::-webkit-scrollbar {
    display: none;
}

body{
    -ms-overflow-style: none;
     scrollbar-width: none;
}



.section {
  width: 100%;
  height: auto;
  position: relative;
  grid-column: 2;
}

.content {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    position:relative;
}

/*#region Hero*/

.hero {
    background-color:var(--background-color);
    overflow:hidden;
}

.hero-image-wrapper {
    position:relative;
    overflow:hidden;
    width: 100%;
    height: 100vh;
    text-align: center;
}
/*
.hero-image-wrapper:after,
.hero-image-wrapper:before {
    position: absolute;
    content: "";
    background-image: url(/img/flowers.png);
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-clip: border-box;
}
*/

.hero-image-wrapper:before {
    transform: rotate(180deg);
}

.hero-img {
    -webkit-mask-size: 100%;
    -webkit-mask-position: center;
    transition: -webkit-mask-size .3s;
}

.mask {
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-position: center;
    transition: -webkit-mask-size .3s;
}

.hero-mask {
    -webkit-mask-image: url("/img/mask.png");
    mask-image:  url("/img/mask.png");
    mask-repeat: no-repeat;
    width:auto;
    height:100vh;
}

.hero-mask-decoration {
    -webkit-mask-image: url("/img/mask.png");
    mask-image: url("/img/mask.png");
}

/*#endregion Hero*/
/*#region AboutUs*/

.about-us {
    text-align:center;
    width:100%;
    margin:20px;
    word-wrap: break-word;
    word-break: break-all;
    font-size:25px;
}

/*#endregion AboutUs*/

/*#region Familly*/

.familly { 

}

/*#endregion Familly*/

/*#region Event*/

.event {
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    */
}

.card.location {
    height: 100%;
    grid-template-rows: 50px 200px 25px;
}

.card.confirmation {
    height: 100%;
    grid-template-rows: 50px calc(100% - 75px) 25px;
}
/*#endregion Event*/

/*#region Card*/

.card {
    border-radius: 8px;
    border: var(--card-border);
    padding:10px;
    margin:10px;
    width:auto;  
    float:left;
    background:var(--background-color);
    display: grid;
}

.card .header {
    width: 100%;
    text-align: center;
    padding: 10px;
    display: inline-block;
    grid-row:1;
}

.card .header .title {
    font-size: 30px;
    width:100%;
    display: inline-block;
    text-align: center;
    vertical-align: center;
}

.card .body {
    float: left;
    display: flex;
    border-radius: 8px;
    grid-row:2;
    padding: 10px;
    align-content: center;
    justify-content: center;
}

.card .footer {
    grid-row:3;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.card:hover {
    background: var(--background-color);
    border: 0;
    box-shadow: var(--card-box-shadow);
}

/*#endregion Card*/


/*#region MobileView*/

@media only screen and (max-device-width: 480px) {
    .content {
        display: grid;
        grid-template-columns: 100%;
    }

    .section {
        grid-column: 1;
    }
}

/*#endregion MobileView*/
/*#region iFrame */

iframe {
    width: 100%;
    height: 100%;
}

iframe#gmap {
    border-radius:100%;
    width:180px;
    height:180px;
}

iframe#airtable .formContent header {
    display:none!important;
}

/*#endregion iFrame

/*#region modal */

.modal {
    position:absolute;
    overflow:hidden;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:#97979786;
    display:flex;
    justify-content: center;
    z-index:999;
    display:none
}

.modal.show {
    display:inline-block;
}

.modal-content {
    width: auto;
    height: 50vh;
    display: grid;
    grid-template-rows: 10px 80vh;
    border-radius: 8px;
    background-color: #FFFFFF;
}

.modal-header {
    grid-row:1;
}

.modal-body {
    grid-row:2;
}

/*#endregion modal */