body{
	background-color: #EEEEEE;
    font-family: "RobotoDraft","Roboto",sans-serif;
}

.wrapper{
    box-sizing: border-box;
    margin-left:10pt;
    margin-right:10pt;
}
.row{
    box-sizing: border-box;
    margin:0;
}

.fancy-header{
    height:40pt;
    padding-right: 15pt;
    padding-left: 15pt;
    border-bottom-left-radius: 2pt;
    border-bottom-right-radius:2pt;
}

.fancy-header-tab{
    padding:5pt;
    heigh:35pt;
    text-align: center;
}

.active{
    border-bottom-left-radius: 2pt;
    border-bottom-right-radius:2pt;
    border-top:none;
	box-shadow:0 0 5pt 2pt #B3E5FC;
}
.clear{
    clear:both;
}

.text-center{
    text-align:center;
}
.separator{
    height:2pt;
}
.separator2{
    width:100%;
    margin-top:5pt;
}

.circle{
    background-color: #B3E5FC;
    border-radius:50pt;
    border-style:solid;
    border-width:1pt;
    width:6pt;
    height:6pt;
    border-color:#FF5252;
}
.empty-circle{
    background-color: #FFFFFF;
    border-radius:50pt;
    border-style:solid;
    border-width:1pt;
    width:6pt;
    height:6pt;
    border-color:#FF5252;
}

.no-Decoration{
    color: #FFFFFF;
}
.no-Decoration:hover {
    color: #FFFFFF;
}

.icons{
      text-align: center;
}
.spacing{
    margin-top:10pt;
}
.roundInfo{
    text-align: center;
    width:30pt;
    height:30pt;
    border-radius:50%;
    line-height: 29pt;
}

.ed-year{
    font-style: italic;
    font-weight: bold;
}

.infos{
    line-height:30pt;
}
.text-fix{
    padding-left:20pt;
}