.materialcardext{
	margin-bottom:20pt;
}

.material-card{
	z-index:1;
	border-width: 1pt;
    border-style: solid;
    border-color: #FAFAFA;
	border-radius: 5pt;
	background-color: #FAFAFA;
}
.material-card-wrapper{
    margin-top:10pt;
    box-sizing: border-box;
}

.primary-text{
    padding-right:16pt;
    padding-left:16pt;
    padding-bottom:24pt;
    font-weight:bold;
}

.subtext{
    padding-right:16pt;
    padding-left:16pt;
    padding-bottom:16pt;
}

.profile-pic{
    width: 100%;
    float:left;
}

.header{
    float:left;
    font-size:14pt;
    text-align:left;
}

.material-card-header{
    padding:16pt;
    border-top-left-radius:5pt;
    border-top-right-radius:5pt;
}
.material-card-content{
    padding:16pt;
    border-bottom-left-radius:5pt;
    border-bottom-right-radius:5pt;
}
.blue-card{
    padding:10pt;
}
