@font-face{
  font-family: "Starjedi";  
  src:url("../fonts/Starjedi.woff2")format("woff2");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}

:root{
  font-size: 50%;
  --starWarsYellow: #EEDB00;
  --rebellionBlack:#080808;
  --rebellionGray:#3b444b;
  --rebellionWhite:#f0ece1;
  --rebellionOrangeDark:#dd4e1e;
  --rebellionOrange:#e5703d;
  --Starjedi:"Starjedi";
  --Starjhol:"Starjhol";
  --Starjout:"Starjout";
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--Starjedi);
    color: var(--rebellionWhite);
}

  body {
    width: 100vw;
    background-color: var(--rebellionBlack);
    overflow:hidden;
    scroll-behavior: smooth;
  }

  .section-wrapper {
    width: 100%;
}

  .section{
    width: 100%;
    grid-column: 1;
    text-align: center;
    display: grid;
    align-items: center;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    height:100%;
  }

  .wrapper {
    padding: 20px;
  }

  .section-title{
    font-size: 2.5rem;
    color: var(--starWarsYellow);
  }

  .cat {
    margin: 0 0 5px 0;
    transform: perspective(300px) rotateX(20deg);
  }

  .cat-title {
    margin: 0 0 5px 0;
    font-size: 1.8rem;
    color: var(--rebellionOrange);
  }

  .cat-item {
    font-size: 1.5rem;
  }

  .cat-info {
    font-style: italic;
  }

  @keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(../images/stars.png) repeat top center;
  z-index:-2;
}

.twinkling{
  background:transparent url(../images/twinkling.png) repeat top center;
  z-index:-1;
  animation:move-twink-back 200s linear infinite;
}
