:root {
    --primary-color: #35aadc;
    --dark-primary-color: #526E9C;
    --light-primary-color: #35aadc;
    --accent-color: #FF5252;
    --white: #FFFFFF;
    --blue: #0091EA;
    --gray: #757575;
}