<div class="nav">
	<% for(var key=0; key < Items.length; key++){ 
		var itemClass = (window.location.href.toLowerCase().indexOf(Items[key].URL.toLowerCase())==-1) ? "" : "active" ; 
	%>
	<div class="nav-item <%= itemClass %>">
		<a href="<%= Items[key].URL %>">
			<div class="nav-item-container">
				<span class="material-icons">
					<%= Items[key].MenuIcon %>
				</span>
				<span class="nav-item-container-text">
					<%= Items[key].MenuText %>
				</span>
			</div>
		</a>
	</div>
	<% } %>
</div>
