
@font-face {
  font-family: "NunitoSans";
  src: url("/core/fonts/NunitoSans-Regular.ttf");
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("/core/fonts/MaterialIcons-Regular.ttf");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position:relative;
  font-family: 'NunitoSans';
}

body * {
  font-family: 'NunitoSans';
}

.nav {
  background: var(--primary-color);
  width: 50px;
  height: 100%;
  padding: 10px;
  overflow: hidden;
  box-sizing:border-box;
  transition: width 0.15s;
}

.nav * {
 
  text-decoration:none;
}

.nav-item {
  width: 100%;
}

.nav-item  a{
  display: inline-block;
  width:100%;
}

.nav-item .nav-item-container {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 40px auto;
  height: 40px;
  margin-bottom: 10px;
  place-content: center;
  justify-content: left;
}

.nav-item .material-icons {
  font-size: 1.5em;
  float:left;
  color: var(--white);

}

.nav-item .nav-item-container-text{
  display: none;
   color: var(--white);
}

.nav.expanded {
  width: 150px;
  transition: width 0.15s;
}

.nav.expanded .nav-item-container-text{
  display: inline-block;
  float:left;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px calc(100% - 50px);
  grid-template-columns: min-content auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.wrapper .sidebar {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.wrapper .content {
  grid-column: 2;
  grid-row: 2;
}