:root {
    --primary-color: #35aadc;
    --secondary-color:#FFFFFF;
    --dark-primary-color: #526E9C;
    --light-primary-color: #35aadc;
    --accent-color: #FF5252;
    --white: #FFFFFF;
    --blue: #0091EA;
    --gray: #757575;
    --active-shadow: 0 4px 16px 0 rgb(0 0 0 / 8%);
    --shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 1px rgb(66 66 66 / 16%);
}