:root {
    --test:red;
    --card-border-radius:8px;
}

.app {
    display: grid;
    grid-template-columns: repeat(auto-fit, calc((100vw / 6) - 5px));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}