<div class="megamenu">
	<a href="javascript:void(0);" class="menu-header" onclick="SH.SearchMenu.toggleMenu()">
		<div class="menu-header-wrapper">
			<div class="menu-icon-wrapper">
				<span class="menu-icon sh-icon-button">
					<i class="fas fa-bars"></i>
				</span>
				<span class="menu-header-text" title="Menu">Menu</span>
			</div>
		</div>
	</a>
	<div class="menu-links">
	<%	
			for(var key =0; key < Items.length; key++){
				var link = SH.SearchMenu.processUrl(Items[key]);
				var label = Items[key].label;
				var itemClass = (window.location.href.toLowerCase().indexOf(link.toLowerCase()) == -1) ? "" : "active";
				var iconClass = Items[key].iconClass;
			%>
			<a onclick="SH.SearchMenu.processItem(<%= key %>)" class="<%= itemClass %>"><span class="menu-icon <%= iconClass %>"></span> <span><%= label %></span></a>
		<% } %> 
	</div>
</div>